html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.center {
  margin: auto;
  padding: 10px;
}

.loggedInOrOut {
    height: 50px;
    width: 200px;
    background-color: grey;
    color: white;
    font-weight: bolder;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    font-size: larger;
}

.createUser {
    height: 50px;
    width: 200px;
    background-color: dodgerblue;
    color: white;
    font-weight: bolder;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    font-size: larger;
}

/*Hover*/
.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
}

    .hovertext:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: 140px;
        background-color: black;
        color: #fff;
        text-align: left;
        border-radius: 5px;
        padding: 5px 0;
        transition: opacity 1s ease-in-out;
        position: absolute;
        z-index: 10;
        left: 100%;
        top: -750%;
    }

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

.hovertext2 {
    position: relative;
    border-bottom: 1px dotted black;
}

    .hovertext2:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: 140px;
        background-color: #353340;
        color: #fff;
        text-align: left;
        border-radius: 5px;
        padding: 5px 0;
        transition: opacity 1s ease-in-out;
        position: absolute;
        z-index: 10;
        left: 100%;
        top: auto;
    }

.hovertext2:hover:before {
    opacity: 1;
    visibility: visible;
}


/*Search Bar */
.navbar-search .input-group {
  display: flex;
  align-items: center;
}

.navbar-search .form-control {
  flex: 1;
}

/* * div spacing */
div {
  padding: 10px;
}