@page "account preferences"
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@*<img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.Input.ProfilePicture)}")"
     style="width: 200px;"
     class="rounded mx-auto d-block"
     alt="ProfilePicture" />*@
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<form id="profile-form" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" placeholder="Please enter your first name" required />
                <label asp-for="Input.FirstName" class="form-label"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" placeholder="Please enter your last name" required />
                <label asp-for="Input.LastName" class="form-label"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <br/>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-floating mb-3">
                <input asp-for="Input.ProfileBio" class="form-control" placeholder="@Model.Input.ProfileBio" maxlength="500" />
                <label asp-for="Input.ProfileBio" class="form-label"></label>
                <span asp-validation-for="Input.ProfileBio" class="text-danger"></span>
            </div>

            @*<button id="update-profile-bio-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>*@

        </div>
        <div class="card col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Input.ProfilePicture" style="width: 100%;"></label>*@
                @if (Model.Input.ProfilePicture != null)
                {
                    <label asp-for="Input.ProfilePicture"><img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))"></label>
                }
                else
                {
                    <label asp-for="Input.ProfilePicture"><img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="https://img.icons8.com/ios/256/test-account.png"></label>
                }
                <input type="file"
                       accept=".png,.jpg,.jpeg"
                       asp-for="Input.ProfilePicture"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                       onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>

                <button type="button" class="btn btn-primary" onclick="dalleModalOpen()">
                    Generate Profile Picture with DALL-E
                </button>

                <div class="modal fade" id="DalleModal" tabindex="-1" role="dialog" aria-labelledby="DalleModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Dalle Image Generator</h5>
                                <button type="button" class="close" onclick="dalleModalClose()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Using this button will have you continue on to a new page where you can input a prompt and then have Dall-e generate an image based on your prompt.</p>
                                <p>To do so just type in your prompt into the box that says <b>Prompt</b> and then hit the <b>Generate Image</b> button once.</p>
                                <p>After a few seconds your image will appear.</p>
                                <br />
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="GenerateImage">Create Image</a>
                                <button type="button" class="btn btn-secondary" onclick="dalleModalClose()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <br/> 
    <button id="update-profile-bio-button" style="padding: 10px;" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/site.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script type="text/javascript" src="~/js/Steam.js"></script>
}
