<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"]</title>
    
    
    <!-- Team files -->
   @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" /> <!-- Bootstrap icons -->*@
   @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>*@
    @*<link rel="stylesheet" href="~/Team121GBCapstoneProject.styles.css" asp-append-version="true"/>*@

    <!-- Favicons -->
    <link href="~/lib/assets/img/favicon.png" rel="icon">
    <link href="~/lib/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/lib/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/lib/assets/vendor/remixicon/remixicon.css" rel="stylesheet">lo
    <link href="~/lib/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/lib/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Gp
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-lg-between" style="height: 45px;">

            <h1 class="logo me-auto me-lg-0"><a asp-area="" asp-controller="Home" asp-action="Index">GP<span></span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a class="nav-link scrollto" id="Top100GamesButton" asp-area="" asp-controller="Top100Games" asp-action="Index">Top 100 Games</a></li>
                <li><a id="gamesListButton" class="dropdown-item" asp-controller="GamesLists" asp-action="Index">My Games</a></li>
                <li><a id="chatBotButton" class="nav-link scrollto" asp-controller="Home" asp-action="ChatGpt">AI Chat</a></li>
                <li><a id="speedSearchButton" class="nav-link scrollto" asp-controller="SpeedSearch" asp-action="Index">Speed Search</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <partial name="_LoginPartial" />

    </div>
</header><!-- End Header -->


<main id="main">
        @RenderBody()
</main>


@*<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Page</h2>
                <ol>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li>Page</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">>
            @RenderBody()
        </div>
    </section>
</main>*@

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Western Oregon University<span></span></h3>
                        <p>
                            345 Monmouth Ave N <br>
                            Monmouth, OR 97361<br><br>
                            <strong>Email:</strong> team121gigabytes@gmail.com <br>
                        </p>
@*                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>*@
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Meet the Team</h4>
                    <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/moshemartinez">Moshe Martinez</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/Nathaniel-Kuga">Nathaniel Kuga</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/QuintonRoan64">Quinton Roan</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://github.com/ColeKrieske">Cole Krieske</a></li>
                    </ul>
                </div>

@*                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>*@

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Our GitHub Repository</h4>
                    <p>
                        <a href="https://github.com/moshemartinez/team-1.21GB-project">
                            <img src="https://user-images.githubusercontent.com/63754407/212457348-c4f5d212-8837-45a7-a0ab-d44f4d2eafbb.png" width="50%"; height="auto"/>
                        </a>
                    </p>
@*                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">y
                    </form>*@
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Team1.21GB</span></strong> All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->


<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
    <script src="~/lib/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/lib/assets/vendor/aos/aos.js"></script>
    <script src="~/lib/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/lib/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/lib/assets/js/main.js"></script>
        
    <!-- Team JS Files -->

    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <!-- Will run into error if this is not used -->  
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



