@using Microsoft.AspNetCore.Identity
@using Team121GBCapstoneProject.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li><a id="chatBotButton" class="nav-link scrollto" asp-asp-controller="Home" asp-action="ChatGpt">AI powered Chat</a></li>

    @*Moshe: I wanted to incorporate this search bar somehow because I spent like 3 hours on it*@
    <li class="nav-link">
        <form id="searchForm" action="/Search/Results/">
            <div class="input-group rounded">
                <input class="form-control rounded" type="text" name="query" id="searchInput" placeholder="Search..."
                       aria-label="Search" aria-describedby="search-addon" />
                <button type="submit" id="searchButton" class="input-group-text border-0">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </li>

    <li class="nav-link">
        @*        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="advanced">
            Advance Search<i class="fa fa-angle-down"></i>
        </a>*@
        <button type="button" class="btn btn-link" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Advanced Search...">
            Advanced Search
        </button>
    </li>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
      
            <div class="row">

                <div class="col-md-4">

                    <input type="text" placeholder="Property ID" class="form-control">
            
                </div>


                <div class="col-md-4">

                    <input type="text" class="form-control" placeholder="Search by MAP">
            
                </div>
         

                <div class="col-md-4">

                    <input type="text" class="form-control" placeholder="Search by Country">
            
                </div>
         
            </div>

        </div>
    </div>

  @*  <li class="nav-item navbar order-last order-lg-0">
        <form id="searchForm" action="/Search/Results/" style="display: inline-flex">
            <input class="input-group rounded" type="text" name="query" id="searchInput" placeholder="Search...">
            <select id="platformSelectList">
                <option value="">Platform</option>
                <option value="PC (Microsoft Windows)">Windows</option>
                <option value="Linux">Linux</option>
                <option value="Xbox Series X|S">Xbox Series X|S</option>
                <option value="PlayStation 5">PlayStation 5</option>
                <option value="Xbox One">Xbox One</option>
                <option value="Playstation 4">Playstation 4</option>
                <option value="Nintendo Switch">Nintendo Switch</option>
                <option value="Mac">Mac</option>
                <option value="Playstation 3">Playstation 3</option>
                <option value="Xbox 360">Xbox 360</option>
                <option value="SNES">SNES</option>
                <option value="Nintendo 3DS">Nintendo 3DS</option>
                <option value="Game boy">Game boy</option>
                <option value="Nintendo 64">Nintendo 64</option>
                <option value="Nintendo GameCube">Nintendo GameCube</option>
                <option value="Wii">Wii</option>
            </select>
            <select id="genreSelectList">
                <option value="">Genre</option>
                <option value="Point and Click">Point and Click</option>
                <option value="Fighting">Fighting</option>
                <option value="Shooter">Shooter</option>
                <option value="Music">Music</option>
                <option value="Platform">Platform</option>
                <option value="Puzzle">Puzzle</option>
                <option value="Racing">Racing</option>
                <option value="Real Time Strategy (RTS)">Real Time Strategy (RTS)</option>
                <option value="Role-Playing (RPG)">Role-Playing (RPG)</option>
                <option value="Simulator">Simulator</option>
                <option value="Sport">Sport</option>
                <option value="Strategy">Strategy</option>
                <option value="Turn-Based Strategy">Turn-Based Strategy</option>
                <option value="Tactical">Tactical</option>
                <option value="Quiz/Trivia">Quiz/Trivia</option>
                <option value="Hack and slash/Beat 'em up">Hack and slash/Beat 'em up</option>
                <option value="Pinball">Pinball</option>
                <option value="Adventure">Adventure</option>
                <option value="Arcade">Arcade</option>
                <option value="Visual Novel">Visual Novel</option>
                <option value="Indie">Indie</option>
                <option value="Card & Board Game">Card & Board Game</option>
                <option value="MOBA">MOBA</option>
            </select>
            <select id="esrbRatingSelectList">
                <option value="0">ESRB Rating</option>
                <option value="6">RP</option>
                <option value="7">EC</option>
                <option value="8">E</option>
                <option value="9">E10</option>
                <option value="10">T</option>
                <option value="11">M</option>
                <option value="12">AO</option>
            </select>
            <button type="submit" id="searchButton" class="btn btn-outline-primary">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </li>*@


    <li class="nav-link dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            @if (UserManager.GetUserAsync(User).Result?.ProfilePicture is null)
            {
                <img id="profilePicInNavbar" src="https://img.icons8.com/ios/50/null/user--v1.png" width="25" height="25"
                    class="rounded-circle">
            }
            else
            {
                <img id="profilePicInNavbar"
                    src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))"
                    width="25" height="25" class="rounded-circle">
            }
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"
                    style="color: black">Account Preferences</a>
            </li>
            <li>
                <hr class="dropdown-divider" />
            </li>
            <li>
                <a id="gamesListButton" class="dropdown-item" asp-controller="GamesLists" asp-action="Index"
                    style="color: black">Game Lists</a>
            </li>
            <li>
                <hr class="dropdown-divider" />
            </li>
            <li>
                <a id="speedSearchButton" class="dropdown-item" asp-controller="SpeedSearch" asp-action="Index" style="color: black">Speed Search</a>
            </li>
              <li><hr class="dropdown-divider" /></li>
            <li>
                <a id="steamGamesButton" class="dropdown-item" asp-controller="SteamGames" asp-action="SteamGamesBlank" style="color: black">Steam Games</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
                <a id="findFriendsButton" class="dropdown-item" asp-controller="Home" asp-action="FindFriends" style="color: black">Find Friends</a>
                <hr class="dropdown-divider" />
            </li>
            <li>
                <form accesskeyclass="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logoutBtn" type="submit" class="dropdown-item">Log Out</button>
                </form>
            </li>
        </ul>
    </li>

}
else
{
    <a class="get-started-btn scrollto" asp-area="Identity" asp-page="/Account/Login">Get Started</a>
}



@*Scripts not being used for some reason*@
@*@section Scripts
{
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
}*@





@* Merge issues*@


@*<ul class="navbar-nav .d-flex .flex-row">
@if (SignInManager.IsSignedIn(User))
{
<li class="nav-item">
<form id="searchForm" action="/Search/Results/">
<input type="text" name="query" id="searchInput" placeholder="Search...">
<select id="platformSelectList">
<option value="" disabled selected hidden>Platform</option>
<option value="PC (Microsoft Windows)">Windows</option>
<option value="Linux">Linux</option>
<option value="Xbox Series X|S">Xbox Series X|S</option>
<option value="PlayStation 5">PlayStation 5</option>
<option value="Xbox One">Xbox One</option>
<option value="Playstation 4">Playstation 4</option>
<option value="Nintendo Switch">Nintendo Switch</option>
<option value="Mac">Mac</option>
<option value="Playstation 3">Playstation 3</option>
<option value="Xbox 360">Xbox 360</option>
<option value="SNES">SNES</option>
<option value="Nintendo 3DS">Nintendo 3DS</option>
<option value="Game boy">Game boy</option>
<option value="Nintendo 64">Nintendo 64</option>
<option value="Nintendo GameCube">Nintendo GameCube</option>
<option value="Nintendo Wii">Nintendo Wii</option>
</select>
<select id="genreSelectList">
<option value="" disabled selected hidden>Genre</option>
<option value="Point and Click">Point and Click</option>
<option value="Fighting">Fighting</option>
<option value="Shooter">Shooter</option>
<option value="Music">Music</option>
<option value="Platform">Platform</option>
<option value="Puzzle">Puzzle</option>
<option value="Racing">Racing</option>
<option value="Real Time Strategy (RTS)">Real Time Strategy (RTS)</option>
<option value="Role-Playing (RPG)">Role-Playing (RPG)</option>
<option value="Simulator">Simulator</option>
<option value="Sport">Sport</option>
<option value="Strategy">Strategy</option>
<option value="Turn-Based Strategy">Turn-Based Strategy</option>
<option value="Tactical">Tactical</option>
<option value="Quiz/Trivia">Quiz/Trivia</option>
<option value="Hack and slash/Beat 'em up">Hack and slash/Beat 'em up</option>
<option value="Pinball">Pinball</option>
<option value="Adventure">Adventure</option>
<option value="Arcade">Arcade</option>
<option value="Visual Novel">Visual Novel</option>
<option value="Indie">Indie</option>
<option value="Card & Board Game">Card & Board Game</option>
<option value="MOBA">MOBA</option>
</select>
<select id="esrbRatingSelectList">
<option value="" disabled selected hidden>ESRB Rating</option>
<option value="6">RP</option>
<option value="7">EC</option>
<option value="8">E</option>
<option value="9">E10</option>
<option value="10">T</option>
<option value="11">M</option>
<option value="12">AO</option>
</select>
<button type="submit" id="searchButton" class="btn btn-outline-primary">
<i class="bi bi-search"></i>
</button>
</form>
</li>

<li class="nav-item">
<a class="nav-link" id="HelloLink" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello
@UserManager.GetUserAsync(User).Result?.FirstName!</a>
</li>

<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
aria-haspopup="true" aria-expanded="false">
@if (UserManager.GetUserAsync(User).Result?.ProfilePicture is null)
{
<img src="https://img.icons8.com/ios-glyphs/256/user.png" width="25" height="25" class="rounded-circle">
}
else
{
<img src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))"
width="25" height="25" class="rounded-circle">
}
</a>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
<li>
<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"
style="color: black">Account Preferences</a>
</li>
<li>
<hr class="dropdown-divider" />
</li>
<li>
<a id="gamesListButton" class="dropdown-item" asp-controller="GamesLists" asp-action="Index" style="color: black">Game
Lists</a>
</li>
<li>
<hr class="dropdown-divider" />
</li>
<li>
<form accesskeyclass="form-inline" asp-area="Identity" asp-page="/Account/Logout"
asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
<button id="logoutBtn" type="submit" class="dropdown-item">Log Out</button>
</form>
</li>
</ul>
</li>


}
else
{
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<img src="https://img.icons8.com/ios-glyphs/256/user.png" width="25" height="25" class="rounded-circle">
</a>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink2">
<li class="nav-item">
<a class="nav-link" asp-area="Identity" asp-page="/Account/Register" style="color: black">Sign Up</a>
</li>
<li class="nav-item">
<a class="nav-link" asp-area="Identity" asp-page="/Account/Login" style="color: black">Log In</a>
</li>

</ul>
</li>
}
</ul>
*@


