@using Microsoft.AspNetCore.Identity
@using Team121GBCapstoneProject.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Find Friends</h2>
            <ol>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Find Friends</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->


<section class="inner-page">
    <div class="container">
        <form id="findFriendsForm" method="post">
            <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input id="FirstName" asp-for="@UserManager" class="form-control" placeholder="Please enter a name" required />
                    <label asp-for="Input.FirstName" class="form-label"></label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
            </div>
            </div>
        </form>
    </div>
</section>