@model DalleVM
@{
    ViewData["Title"] = "Dalle Page";
}

<div class="row">
    <form id="promptForm">
        <div class="form-floating mb-3">
            <input id="userPrompt" asp-for="@Model.Prompt" class="form-control" placeholder="Please enter your profile image prompt" required/>
            <label asp-for="@Model.Prompt" class="form-label"></label>
            <span asp-validation-for="@Model.Prompt" class="text-danger"></span>
        </div>
        <div>
            <button id="submitPromptButton" type="submit" class="w-100 btn btn-lg btn-primary">Generate Images</button>
        </div>
    </form>
</div>


    <div class="row">
        <div class="col">
            <div id="imageHere"></div>
            <img id="profilePicture" style="width: 350px; height: 350px; object-fit: cover" src="@Model.ImageURL">
        </div>
    </div>


@section Scripts
{
    <script type="text/javascript" src="~/js/Dalle.js"></script>
}
