@using Microsoft.AspNetCore.Identity
@using Team121GBCapstoneProject.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@model Team121GBCapstoneProject.Models.GameInfo;
@{
    ViewData["Title"] = "Home Page";

    string gameInfo = null;
}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>Welcome to the Gaming Platform<span></span></h1>
                <h2>A site for organizing your game collection across all platforms</h2>
            </div>
        </div>
        
        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="col-xl-2 col-md-4">
                <a asp-area="Identity" asp-page="/Account/Register">
                    <div class="icon-box">
                        <i class="bi bi-person-add"></i>
                        <h3>Create Account</h3>
                    </div>
                </a>
            </div>
            
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="col-xl-2 col-md-4">
                    <a asp-area="Identity" asp-page="/Account/Logout"
                       asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <div class="icon-box">
                            <i class="bi bi-box-arrow-in-left"></i>
                            <h3>Log Out</h3>
                        </div>
                    </a>
                </div>
            }
            else
            {
                <div class="col-xl-2 col-md-4">
                    <a asp-area="Identity" asp-page="/Account/Login">
                        <div class="icon-box">
                            <i class="bi bi-box-arrow-in-right"></i>
                            <h3>Log In</h3>
                        </div>
                    </a>
                </div>
            }

        @*            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-paint-brush-line"></i>
                    <h3><a href="">Magni Dolores</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-database-2-line"></i>
                    <h3><a href="">Nemos Enimade</a></h3>
                </div>
            </div>*@
        </div>

    </div>
</section><!-- End Hero -->