@*@using Microsoft.AspNetCore.Identity
@using Team121GBCapstoneProject.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager*@

@model Team121GBCapstoneProject.Models.GameInfo;
@{
    ViewData["Title"] = "Home Page";

    string gameInfo = null;
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: bolder; margin-top: 5%;">Welcome to the Gaming Platform</h1>
    <p style="font-size: large; margin-top: 2%;">
        Here you can organize and keep track of your collection of games across all platforms.
        You can also rate and review games and see the top 100 games according to gamers like yourself.
        To get started please create a account, if you already have a account then you can log in below.
    </p>s
</div>