@model Team121GBCapstoneProject.Models.GameInfo;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: bolder; margin-top: 5%;">Welcome to the Gaming Platform</h1>
    <p style="font-size: large; margin-top: 2%;">Here you can organize and keep track of your collection of games across all platforms.
       You can also rate and review games and see the top 100 games according to gamers like yourself.
       To get started please create a account, if you already have a account then you can log in below.
    </p>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <input type="button" 
                    value="Log in" 
                    style="height:50px; 
                           width:200px; 
                           background-color: grey; 
                           color: white; 
                           font-weight: bolder; 
                           border-color: black; 
                           border-width: 2px; 
                           border-radius: 10px;
                           font-size: larger;"/>
            </div>
            <div class="col-sm">
                <input type="button"
                       value="Create Account"
                       style="height:50px;
                           width:200px;
                           background-color: dodgerblue;
                           color: white;
                           font-weight: bolder;
                           border-color: black;
                           border-width: 2px;
                           border-radius: 10px;
                           font-size: larger;" />
            </div>
        </div>
    </div>
    <h2 style="font-weight: bold; margin-top: 5%;">Trending Games</h2>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Release Date</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;

                @foreach (var game in Model.games)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td>@game.Title</td>
                        <td>@game.Description</td>
                        <td>@game.YearPublished</td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>

</div>
