@model IEnumerable<IgdbGame>

<h1>Search Results</h1>

<table class="table" id="gameTable">
    <thead>
    <tr>
        <th>Cover</th>
        <th>Name</th>
        <th>Website</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="gameTableBody">
        
    </tbody>
</table>

<script src="/js/search.js"></script>